* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
}
body {
  background: #f1f1f1;
  font-family: Roboto;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  background: #fff;
  position: relative;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  &:after {
    right: 0;
  }
}
